{% extends 'favourite/base.html' %}
{% block title %}Quotes{% endblock %}
{% block content %}
<title>QUOTES</title>
<div class="container">
    <div class="row" style="padding-top:15px">
                {%if quotes%}
                    {%for quote in quotes%}
                    <div class="col-sm-6">
                        <div class="card card-default">
                            <div class="card-body">
                                <h3 class="text-info text-center">{{quote.title}}</h3>
                                <hr>
                                <h5><i class="fas fa-quote-left"></i><a href="{% url 'favourite:all-comment' quote.id%}"> {{quote.quote}} </a><i class="fas fa-quote-right"></i> </h5>
                                <h6>{{quote.author}}</h6>
                                <h6>{{quote.date}}</h6>
                                <div class="form-group">
                                    <a href="{% url 'favourite:update-quote' quote.id %}"><i class="fas fa-edit" style="float-right"></i></a>
                                    <a href="{% url 'favourite:comment' quote.id %}"><i class="fas fa-comment-dots"></i> </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    {%endfor%}
                {%endif%}

        <div class="col-sm-6"></div>
    </div>
</div>
{% endblock %}
